//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390;  // スマホ用のカンプ幅
$pc-full-width: 1440;    // PC用のカンプ幅
$pc-content-width: 1000; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ:
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット:
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC:
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 1;


//-----------------------------------------------------
//  scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


//-----------------------------------------------------
//  scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}


// global
// ---------------

// color
$primary-pink: #fa7da3;
$primary-white: #fff;
$primary-black: #333;
$green: #49c43d;
$right-pink: #fdf0f5;
$right-pink-dot: #ffd2d2;
$secondary-black: #433d3f;
$secondary-white: #ffffff00;
$grey: #666;
$sky-blue: #50bfff;
$primary-brown: #4d2c1c;
$secondary-brown: #4d2b1b;
$yellow: #fffd7a;
$right-yellow: #fffedd;
$right-grey: #00000040;

// font
$font-base: "Noto Sans JP", serif;
$font-outfit: 'Outfit', sans-serif;

// base

body {
    color: $primary-black;
    font-family: $font-base;
    font-size: vw(14);
    font-weight: 400;
    line-height: 1.5;
}
a {
    display: block;
}
ul {
    padding: 0;
}

// component > button
// ------------------------------
.button__main {
    width: vw(350);
    height: vw(80);
    padding: vw(10) vw(18) vw(10) vw(72);
    border-radius: vw(40);
    color: $primary-white;
    background-color: $green;
    margin: 0 auto;
    cursor: pointer;
    @include mq() {
        width: vwt(570);
        height: vwt(130);
        border-radius: vwt(65);
        padding: vwt(16) vwt(52) vwt(16) vwt(118);
    }
    @include mq(lg) {
        width: px2Rem(570);
        height: px2Rem(130);
        border-radius: px2Rem(65);
        padding: px2Rem(16) px2Rem(52) px2Rem(16) px2Rem(118);
    }
    & span {
        display: block;
        text-align: center;
        font-size: vw(21);
        line-height: 1.333333333;
        letter-spacing: 0.1em;
        @include mq() {
            font-size: vwt(34);
            line-height: 1.32352941;
        }
        @include mq(lg) {
            font-size: px2Rem(34);
        }
    }
    & img {
        width: vw(12);
        margin-left: auto;
        @include mq() {
            width: vwt(19);
        }
        @include mq(lg) {
            width: px2Rem(19);
        }
    }
    &-container {
        display: flex;
        width: vw(246);
        display: flex;
        justify-content: center;
        @include mq() {
            width: vwt(400);
        }
        @include mq(lg) {
            width: px2Rem(400);
        }
    }
    &:hover {
        background-color: #40e02f;
    }
}
.button__header-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-white;
    background-color: $primary-pink;
    width: vw(107);
    height: vw(31);
    margin-right: vw(10);
    font-size: vw(12);
    border-radius: vw(15.5);
    padding: vw(5.5) vw(8.9) vw(8.4) vw(11);
    gap: vw(7);
    @include mq() {
        width: vwt(189);
        height: vwt(50);
        font-size: vwt(20);
        border-radius: vwt(25.18);
        padding: vwt(9) vwt(16) vwt(10.9) vwt(25);
        gap: vwt(12);
    }
    @include mq(lg) {
        width: px2Rem(189);
        height: px2Rem(50);
        font-size: px2Rem(20);
        border-radius: px2Rem(25.18);
        margin-right: px2Rem(21);
        padding: px2Rem(9) px2Rem(16) px2Rem(10.9) px2Rem(25);
        gap: px2Rem(12);
    }
    & img {
        width: vw(6);
        margin-top: vw(3);
        @include mq() {
            width: vwt(9.6);
            margin-top: vwt(3);
        }
        @include mq(lg) {
            width: px2Rem(9.6);
            margin-top: px2Rem(3);
        }
    }
    &:hover {
        opacity: .8;
    }
}
.button__header-reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-white;
    background-color: $green;
    width: vw(173);
    height: vw(31);
    font-size: vw(12);
    border-radius: vw(15.5);
    padding: vw(7) vw(8.9) vw(8.4) vw(11);
    letter-spacing: 0.004em;
    gap: vw(10);
    @include mq() {
        width: vwt(295);
        height: vwt(50);
        font-size: vwt(20);
        border-radius: vwt(25.18);
        padding: vwt(9) vwt(16) vwt(10.9) vwt(25);
        gap: vwt(9);
    }
    @include mq(lg) {
        width: px2Rem(295);
        height: px2Rem(50);
        font-size: px2Rem(20);
        border-radius: px2Rem(25.18);
        padding: px2Rem(9) px2Rem(16) px2Rem(10.9) px2Rem(25);
        gap: px2Rem(9);
    }
    & img {
        width: vw(6);
        margin-top: vw(3);
        @include mq() {
            width: vwt(9.6);
            margin-top: vwt(3);
        }
        @include mq(lg) {
            width: px2Rem(9.6);
            margin-top: px2Rem(3);
        }
    }
    & span {
        font-size: vw(10);
        @include mq() {
            font-size: vwt(17);
        }
        @include mq(lg) {
            font-size: px2Rem(17);
        }
    }
    &:hover {
        opacity: .8;
    }
}

// ヘッダー
// ------------------------------
.header {
    height: vw(60);
    padding: vw(10) vw(9) vw(10) vw(12);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $primary-white;
    @include mq() {
        padding: vwt(16) vwt(10) vwt(20);
        height: vwt(92);
    }
    @include mq(lg) {
        padding: px2Rem(19) px2Rem(10) px2Rem(10);
        height: px2Rem(92);
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq() {
        max-width: vwt(1025);
        margin: 0 auto;
    }
    @include mq(lg) {
        max-width: px2Rem(1025);
        margin: 0 auto;
    }
}
.header__logo {
    margin-right: vw(6);
    line-height: 0;
    @include mq() {
        margin-right: auto;
    }
    @include mq(lg) {
        margin-right: auto;
    }
    &-img {
        width: vw(71.5);
        @include mq() {
            width: vwt(96);
        }
        @include mq(lg) {
            width: px2Rem(96);
        }
    }
}
// メインビジュアル
// ------------------------------
.main-visual {
    background-color: $primary-pink;
    height: vw(318);
    // background-image: url("/assets/image/woman_turned_away_sp.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    margin-top: vw(56);
    @include mq() {
        height: vwt(612);
        margin-top: vwt(92);
        // background-image: url("/assets/image/woman_turned_away_pc.png");
        background-position: left;
    }
    @include mq(lg) {
        height: px2Rem(612);
        margin-top: px2Rem(92);
        // background-image: url("/assets/image/woman_turned_away_pc.png");
        background-position: left;
    }
    &__container {
        position: relative;
        @include mq() {
            max-width: vwt(968);
            margin: 0 auto;
        }
        @include mq(lg) {
            max-width: px2Rem(968);
            margin: 0 auto;
        }
    }
    &__picture {
        position: absolute;
        top: vw(71);
        left: vw(4);
        & img {
            display: block;
            width: vw(222);
            height: auto;
        }
        @include mq() {
            top: vwt(41);
            left: vwt(-27);
            & img {
                display: block;
                width: vwt(513);
            }
        }
        @include mq(lg) {
            top: px2Rem(41);
            left: px2Rem(-27);
            & img {
                display: block;
                width: px2Rem(513);
            }
        }

    }
    &__header-container {
        display: flex;
        position: relative;
        flex-direction: column;
    }
    &__title-img01 {
    position: absolute;
    display: block;
    width: vw(164);
    top: vw(26);
    left: vw(19);
    @include mq() {
        width: vwt(488);
        top: vwt(26);
        left: vwt(19);
        }
    @include mq(lg) {
        width: px2Rem(479);
        top: px2Rem(31);
        left: px2Rem(20);
        }
    }
    &__title-img02 {
    position: absolute;
    display: block;
    width: vw(94);
    top: vw(75);
    left: vw(56);
    @include mq() {
        width: vwt(186);
        top: vwt(167);
        left: vwt(340);
    }
    @include mq(lg) {
        width: px2Rem(186);
        top: px2Rem(167);
        left: px2Rem(324);
    }
    }
    &__title-text {
        box-shadow: 4px 4px 0px rgba(0,0,0,0.25);
        background-color: rgba(255, 255, 255, 0.3);
        margin-left: auto;
        padding: vw(18.6) 0 vw(10) vw(26);
        width: vw(187);
        height: vw(111);
        display: flex;
        gap: vw(12);
        align-items: center;
        @include mq() {
            padding: vwt(46) 0 vwt(40) vwt(67);
            width: vwt(432);
            height: vwt(222);
            gap: vwt(12);
        }
        @include mq(lg) {
            padding: px2Rem(46) 0 px2Rem(40) px2Rem(61);
            width: px2Rem(422);
            height: px2Rem(222);
            gap: px2Rem(21);
        }
        &-item1 {
            width: vw(47);
            height: vw(23);
            font-size: vw(13);
            font-weight: 700;
            color: $primary-pink;
            padding: vw(2) vw(4);
            background-color: $primary-white;
            opacity: 1;
            @include mq() {
            width: vwt(105);
            height: vwt(51);
            font-size: vwt(29);
            padding: vwt(2) vwt(4);
            }
            @include mq(lg) {
            width: px2Rem(105);
            height: px2Rem(51);
            font-size: px2Rem(29);
            padding: px2Rem(2) px2Rem(8);
            }
        }
        &-item2 {
            margin-top: vw(3);
            font-size: vw(24);
            font-weight: 700;
            color: $primary-white;
            @include mq() {
            margin-top: vwt(3);
            font-size: vwt(54);
            }
            @include mq(lg) {
            margin-top: px2Rem(9);
            font-size: px2Rem(54);
            line-height: 1.4;
            }
        }
        &-item3 {
            font-size: vw(75);
            font-weight: 700;
            color: $yellow;
            align-items:center;
            line-height: 0;
            @include mq() {
                font-size: vwt(170);
            }
            @include mq(lg) {
                font-size: px2Rem(170);
            }

            & span {
                font-size: vw(35.9);
                @include mq() {
                    font-size: vwt(80);
                }
                @include mq(lg) {
                    font-size: px2Rem(80);
                }
            }
        }
    }
    &__price {
        width: vw(354);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: vw(7) 0 0 vw(11);
        color: $primary-white;
        font-family: $font-outfit;
        font-size: vw(13.9);
        & span {
            font-family: $font-base;
            font-size: vw(8.9);
            @include mq() {
                font-size: vwt(16.9);
            }
            @include mq(lg) {
                font-size: px2Rem(16.9);
            }
        }
        @include mq() {
            font-size: vwt(26.4);
            width: vwt(900);
            margin: vwt(9) 0 0 vwt(16);
        }
        @include mq(lg) {
            font-size: px2Rem(26.4);
            width: px2Rem(900);
            margin: px2Rem(4) 0 0 px2Rem(7);
        }
    }
    &__catch-list {
        width: vw(354);
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: vw(12);
        margin: vw(20) 0 0 vw(10);
        @include mq(){
            width: vwt(980);
            gap: vwt(20);
            margin: vwt(48) 0 0 vwt(8);
            padding-right: vwt(10);
        }
        @include mq(lg) {
            width: px2Rem(960);
            gap: px2Rem(20);
            margin: px2Rem(46) 0 0 px2Rem(18);
            padding-right: px2Rem(10);
        }
    }
    &__catch-item {
        width: vw(133);
        height: vw(35);
        display: grid;
        place-items: center;
        border: 1px solid $primary-white;
        color: $primary-white;
        font-size: vw(18);
        @include mq() {
            width: vwt(423);
            height: vwt(67);
            font-size: vwt(28);
        }
        @include mq(lg) {
            width: px2Rem(423);
            height: px2Rem(68);
            font-size: px2Rem(28);
        }
    }
}
.main-visual__title>span {
    display: block;
}
.main-visual__title-text-item1,
.main-visual__title-text-item2,
.main-visual__title-text-item3 {
    display: block;
}
// キャンペーン
// --------------------------------------
.campaign {
    height: vw(191);
    padding: vw(25) vw(21) vw(14) vw(21);
    background-color: $right-yellow;
    @include mq() {
        height: vwt(315);
        padding: vwt(25) vwt(21) vwt(14) vwt(19);
    }
    @include mq(lg) {
        height: px2Rem(315);
        padding: px2Rem(47) px2Rem(21) px2Rem(14) px2Rem(19);
    }

    &__container-catch {
        width: vw(91);
        font-size: vw(21);
        padding-left: vw(6);
        margin: 0 auto vw(15);
        line-height: 1;
        color: $primary-pink;
        position: relative;
        text-align: center;
        @include mq() {
            width: vwt(165);
            font-size: vwt(34);
            padding-left: vwt(12);
            margin: 0 auto vwt(15);
        }
        @include mq(lg) {
            width: px2Rem(165);
            font-size: px2Rem(34);
            padding-left: px2Rem(12);
            margin: 0 auto px2Rem(15);
        }
        &::before {
            content: "";
            position: absolute;
            left: vw(-4);
            top: vw(-2);
            bottom: 0;
            width: vw(2);
            height: vw(24);
            background-color: #fa7da3;
            transform: rotate(-30deg);
            @include mq() {
                left: vwt(-4);
                top: vwt(-2);
                bottom: 0;
                width: vwt(2);
                height: vwt(37);
            }
            @include mq(lg) {
                left: px2Rem(0);
                top: px2Rem(-2);
                bottom: 0;
                width: px2Rem(3);
                height: px2Rem(43);
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: vw(-7);
            top: vw(-3);
            bottom: 0;
            width: vw(2);
            height: vw(25);
            background-color: #fa7da3;
            transform: rotate(30deg);
            @include mq() {
                right: vwt(-7);
                top: vwt(-3);
                bottom: 0;
                width: vwt(2);
                height: vwt(37);
            }
            @include mq(lg) {
                right: px2Rem(-6);
                top: px2Rem(-3);
                bottom: 0;
                width: px2Rem(3);
                height: px2Rem(43);
            }
        }
    }
    &__container-main {
        margin: vw(15) auto vw(10);
        @include mq() {
            width: vwt(550);
            margin: vwt(24) auto vwt(19);
            padding-left: vwt(2);
        }
        @include mq(lg) {
            width: px2Rem(550);
            margin: px2Rem(24) auto px2Rem(19);
            padding-left: px2Rem(2);
        }
        &-head {
            width: vw(350);
            height: vw(32);
            font-size: vw(21);
            border-top-left-radius: vw(10);
            border-top-right-radius: vw(10);
            padding: vw(4);
            line-height: 1;
            color: $primary-white;
            background-color: $primary-pink;
            border-top: 1px solid $primary-pink;
            border-right: 1px solid $primary-pink;
            border-left: 1px solid $primary-pink;
            text-align: center;
            @include mq() {
                width: vwt(550);
                height: vwt(47);
                font-size: vwt(32);
                border-top-left-radius: vwt(10);
                border-top-right-radius: vwt(10);
                padding: vwt(4);
            }
            @include mq(lg) {
                width: px2Rem(550);
                height: px2Rem(47);
                font-size: px2Rem(32);
                border-top-left-radius: px2Rem(10);
                border-top-right-radius: px2Rem(10);
                padding: px2Rem(4);
            }
        }
        &-body {
            width: vw(350);
            height: vw(61);
            font-size: vw(27);
            padding-top: vw(6);
            padding-left: vw(10);
            border-bottom-left-radius: vw(10);
            border-bottom-right-radius: vw(10);
            line-height: 1;
            color: $primary-pink;
            background-color:  $primary-white;
            border-bottom: 1px solid $primary-pink;
            border-right: 1px solid $primary-pink;
            border-left: 1px solid $primary-pink;
            text-align: center;
            @include mq() {
                width: vwt(550);
                height: vwt(101);
                font-size: vwt(43);
                padding-top: vwt(8);
                padding-left: vwt(18);
                border-bottom-left-radius: vwt(10);
                border-bottom-right-radius: vwt(10);
            }
            @include mq(lg) {
                width: px2Rem(550);
                height: px2Rem(101);
                font-size: px2Rem(43);
                padding-top: px2Rem(12);
                padding-left: px2Rem(20);
                border-bottom-left-radius: px2Rem(10);
                border-bottom-right-radius: px2Rem(10);
            }
            & span {
                font-size: vw(42);
                font-weight: 600;
                @include mq() {
                    font-size: vwt(67);
                }
                @include mq(lg) {
                    font-size: px2Rem(67);
                }
            }
        }
    }
    &__container-remark {
        font-size: vw(10);
        text-align: center;
        line-height: 1;
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
}
// 無料体験
// --------------------------------------
.trial-detail {
    width: vw(350);
    height: vw(297);
    margin: 0 auto;
    padding-top: vw(19);
    @include mq() {
        width: vwt(600);
        height: vwt(507);
        padding-top: vwt(61);
    }
    @include mq(lg) {
        width: px2Rem(600);
        height: px2Rem(507);
        padding-top: px2Rem(61);
    }
}

.free-trial {
    &__catch {
        font-size: vw(21);
        margin-bottom: vw(14);
        padding-left: vw(14);
        letter-spacing: 0.1em;
        font-weight: 600;
        color: $primary-pink;
        text-align: center;
        line-height: 1;
        @include mq() {
            font-size: vwt(34);
            padding-bottom: vwt(8);
            padding-left: vwt(18);
            margin-bottom: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(34);
            padding-bottom: px2Rem(8);
            padding-left: px2Rem(18);
            margin-bottom: px2Rem(14);
        }
    }
    &__overview {
        margin-top: vw(29);
        @include mq() {
            margin-top: vwt(45);
        }
        @include mq(lg) {
            margin-top: px2Rem(45);
        }

        &-title {
            font-size: vw(17);
            height: vw(41);
            padding: vw(5) 0 vw(6);
            margin-bottom: vw(11);
            text-align: center;
            letter-spacing: 0.1em;
            line-height: 1.64705882;
            border-top: 1px solid $sky-blue;
            border-bottom: 1px solid $sky-blue;
            color: $sky-blue;
            @include mq() {
                height: vwt(66);
                width: vwt(570);
                font-size: vwt(28);
                padding: vwt(10) 0 0 vwt(7);
                margin: 0 auto vwt(22);
            }
            @include mq(lg) {
                height: px2Rem(66);
                width: px2Rem(570);
                font-size: px2Rem(28);
                padding: px2Rem(10) 0 0 px2Rem(7);
                margin: 0 auto px2Rem(22);
            }
        }
        &-detail {
            font-size: vw(13.8);
            padding-left: vw(2);
            @include mq() {
                font-size: vwt(22);
                padding-left: px2Rem(14);
                letter-spacing: 0.03em;
            }
            @include mq(lg) {
                font-size: px2Rem(22);
                padding-left: px2Rem(14);
                letter-spacing: 0.03em;
            }
            &:not(:last-child) {
                margin-bottom: vw(2);
            }
            & span {
                font-size: vw(10.9);
                @include mq() {
                    font-size: vwt(17);
                }
                @include mq(lg) {
                    font-size: px2Rem(17);
                }
            }
        }
    }
}
// 選ばれる3つのポイント
// --------------------------------------
.reasons-to-choose {
    padding: vw(40) vw(21) vw(1);
    background-color: $right-pink;
    @include mq() {
        padding: vwt(53) vwt(21) vwt(14);
    }
    @include mq(lg) {
        padding: px2Rem(53) px2Rem(21) px2Rem(14);
    }
    &__container {
        @include mq() {
            max-width: vwt(800);
            margin: 0 auto;
        }
        @include mq(lg) {
            max-width: px2Rem(800);
            margin: 0 auto;
        }
    }

    &__title {
        text-align: center;
        &-col1,
        &-col2 {
            display: block;
        }
        &-col1 {
            padding-right: vw(6);
            padding-left: vw(11);
            line-height: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                display: block;
                width: vw(196);
                @include mq() {
                    width: vwt(261);
                }
                @include mq(lg) {
                    width: px2Rem(261);
                }
            }
            & span {
                display: block;
                font-size: vw(18);
                color: #4d2b1b;
                margin-left: vw(5);
                letter-spacing: 0.04em;
                @include mq() {
                    font-size: vwt(18);
                    margin-left: vw(5);
                }
                @include mq(lg) {
                    font-size: px2Rem(18);
                    margin-left: px2Rem(5);
                }
            }
        }
        &-col2 {
            margin-top: vw(10);
            @include mq() {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: vwt(14);
            }
            @include mq(lg) {
                margin-top: px2Rem(14);
            }
            & span {
                font-size: vw(32);
                font-weight: 700;
                color: $primary-pink;
                letter-spacing: 0.04em;
                @include mq() {
                    display: block;
                    font-size: vwt(42);
                    padding-left: vwt(1);
                    letter-spacing: 0.01em;
                }
                @include mq(lg) {
                    display: block;
                    font-size: px2Rem(42);
                    padding-left: px2Rem(1);
                    letter-spacing: 0.01em;
                }
            }
            & img {
                @include mq() {
                    display: block;
                    width: vwt(49);
                    &:nth-of-type(1) {
                        margin-right: vwt(9);
                    }
                    &:nth-of-type(2) {
                        margin-left: vwt(2);
                    }
                }
                @include mq(lg) {
                    display: block;
                    width: px2Rem(49);
                    &:nth-of-type(1) {
                        margin-right: px2Rem(9);
                    }
                    &:nth-of-type(2) {
                        margin-left: px2Rem(2);
                    }
                }
            }
        }
    }
    &__list {
        margin-top: vw(23);
        @include mq() {
            margin-top: vwt(45);
        }
        @include mq(lg) {
            margin-top: px2Rem(45);
        }
    }
    &__item {
        margin-bottom: vw(31);
        @include mq() {
            margin-bottom: vwt(48);
        }
        @include mq(lg) {
            margin-bottom: px2Rem(48);
        }
        &:nth-of-type(2) .reasons-to-choose__item-text {
            padding-left: vw(7);
            margin-top: vw(2);
            margin-bottom: vw(20);
            letter-spacing: 0;
            @include mq() {
                padding-left: 0;
                margin-top: 0;
                padding-right: 0;
                margin-bottom: vwt(18);
            }
            @include mq(lg) {
                padding-left: 0;
                margin-top: 0;
                padding-right: 0;
                margin-bottom: px2Rem(18);
            }
        }
        &:nth-of-type(2) .reasons-to-choose__item-body {
            padding-bottom: vw(20);
            @include mq() {
                padding-right: vwt(30);
                padding-bottom: vwt(35);
            }
            @include mq(lg) {
                padding-right: px2Rem(30);
                padding-bottom: px2Rem(35);
            }
        }
        &:nth-of-type(3) .reasons-to-choose__item-text {
            letter-spacing: 0;
        }
        &:nth-of-type(3) .reasons-to-choose__item-body {
            padding-bottom: vw(5);
            @include mq() {
                padding-bottom: vwt(5);
            }
            @include mq(lg) {
                padding-bottom: px2Rem(5);
            }
        }
    }
    &__item-header {
        width: vw(350);
        height: vw(45);
        font-size: vw(18);
        padding: vw(9) 0 vw(10);
        border-top-left-radius: vw(10);
        border-top-right-radius: vw(10);
        text-align: center;
        color: $primary-white;
        background-color: $primary-pink;
        border: 1px solid $primary-pink;
        border-bottom: none;
        @include mq() {
            width: vwt(780);
            height: vwt(74);
            font-size: vwt(28);
            margin: 0 auto;
            padding: vwt(16) 0 vwt(10);
            border-top-left-radius: vwt(10);
            border-top-right-radius: vwt(10);
        }
        @include mq(lg) {
            width: px2Rem(780);
            height: px2Rem(74);
            font-size: px2Rem(28);
            margin: 0 auto;
            padding: px2Rem(16) 0 px2Rem(10);
            border-top-left-radius: px2Rem(10);
            border-top-right-radius: px2Rem(10);
        }
    }
    &__item-body {
        width: vw(350);
        padding: vw(14) vw(12) vw(16);
        border-bottom-right-radius: vw(10);
        border-bottom-left-radius: vw(10);
        background-color: $primary-white;
        border: 1px solid $primary-pink;
        border-top: none;
        @include mq() {
            width: vwt(780);
            padding: vwt(25) vwt(40) vwt(36) vwt(40);
            margin: 0 auto;
            border-bottom-right-radius: vwt(10);
            border-bottom-left-radius: vwt(10);
        }
        @include mq(lg) {
            width: px2Rem(780);
            padding: px2Rem(25) px2Rem(40) px2Rem(36) px2Rem(40);
            margin: 0 auto;
            border-bottom-right-radius: px2Rem(10);
            border-bottom-left-radius: px2Rem(10);
        }
    }
    &__item-text {
        font-size: vw(14);
        margin-bottom: vw(13);
        padding: 0 vw(8);
        letter-spacing: 0.04em;
        @include mq() {
            font-size: vwt(21);
            margin-bottom: vwt(24);
            padding: 0 vwt(10) 0 vwt(0);
            letter-spacing: 0.003em;
            line-height: 1.6;
        }
        @include mq(lg) {
            font-size: px2Rem(21);
            margin-bottom: px2Rem(24);
            padding: 0 px2Rem(10) 0 px2Rem(0);
            letter-spacing: 0.003em;
            line-height: 1.6;
        }
    }
    &__illust {
        margin-top: vw(3);
        padding: 0 vw(9) 0 vw(7);
        display: flex;
        justify-content: space-between;
        @include mq() {
            margin-top: vwt(3);
            padding: 0 vwt(9) 0 vwt(7);
            justify-content: center;
            gap: vwt(41);
        }
        @include mq(lg) {
            margin-top: px2Rem(3);
            padding: 0 px2Rem(9) 0 px2Rem(7);
            justify-content: center;
            gap: px2Rem(41);
        }
    }
    &__illust-item-left {
        width: vw(143);
        height: vw(85);
        padding-left: vw(3);
        border: 1px solid $primary-pink;
        display: grid;
        place-items: center;
        @include mq() {
            width: vwt(232);
            height: vwt(137);
            padding-left: vwt(8);
        }
        @include mq(lg) {
            width: px2Rem(232);
            height: px2Rem(137);
            padding-left: px2Rem(8);
        }
        & img {
            width: vw(70);
            @include mq() {
                width: vwt(114);
            }
            @include mq(lg) {
                width: px2Rem(114);
            }
        }
    }
    &__illust-item-right {
        width: vw(143);
        height: vw(85);
        border: 1px solid $primary-black;
        display: grid;
        place-items: center;
        @include mq() {
            width: vwt(232);
            height: vwt(137);
        }
        @include mq(lg) {
            width: px2Rem(232);
            height: px2Rem(137);
        }
        & p {
            font-size: vw(18);
            padding-left: vw(4);
            color: #433e3f;
            letter-spacing: 0.12em;
            @include mq() {
                font-size: vwt(29);
                padding-left: vwt(4);
                letter-spacing: 0.01em;
            }
            @include mq(lg) {
                font-size: px2Rem(29);
                padding-left: px2Rem(4);
                letter-spacing: 0.01em;
            }
        }
    }
    &__illust-remark {
        margin-top: vw(5);
        text-align: center;
        @include mq() {
            margin-top: vwt(11);
            font-size: vwt(21);
        }
        @include mq(lg) {
            margin-top: px2Rem(11);
            font-size: px2Rem(21);
        }
    }
    &__plan-title {
        font-size: vw(23);
        font-weight: bold;
        color: $primary-brown;
        text-align: center;
        @include mq() {
            font-size: vwt(24);
            padding-right: vwt(9);
        }
        @include mq(lg) {
            font-size: px2Rem(24);
            padding-right: px2Rem(9);
        }
    }
    &__full-body {
        padding: vw(19) 0 0 vw(7);
        margin-bottom: vw(43);
        @include mq() {
            padding: vwt(13) 0 0 vwt(85);
            margin-bottom: vwt(58);
        }
        @include mq(lg) {
            padding: px2Rem(13) 0 0 px2Rem(85);
            margin-bottom: px2Rem(58);
        }
        & img {
            width: vw(311);
            @include mq() {
                width: vwt(532);
                margin: 0 auto;
            }
            @include mq(lg) {
                width: px2Rem(532);
                margin: 0 auto;
            }
        }
    }
    &__partial-list {
        margin-top: vw(26);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: vw(21);
        column-gap: vw(12);
        @include mq() {
            margin-top: vwt(25);
            margin-right: vwt(7);
            display: flex;
            row-gap: vwt(1);
            column-gap: vwt(12);
            place-content: center;
        }
        @include mq(lg) {
            margin-top: px2Rem(25);
            margin-right: px2Rem(7);
            display: flex;
            row-gap: px2Rem(1);
            column-gap: px2Rem(12);
            place-content: center;
        }
    }
    &__partial-item img {
        width: vw(100);
        @include mq() {
            width: vwt(100);
        }
        @include mq(lg) {
            width: px2Rem(100);
        }
    }
    &__plan-item-name {
        font-size: vw(14);
        margin-top: vw(7);
        color: $primary-pink;
        text-align: center;
        line-height: 1;
        @include mq() {
            font-size: vwt(14);
            margin-top: vwt(7);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
            margin-top: px2Rem(7);
        }
    }

}
// ほかにも選べる2つのコース
// --------------------------------------
.other-course {
    padding: vw(30) vw(19) vw(20);
    @include mq() {
        padding: vwt(60) vwt(19) vwt(28);
    }
    @include mq(lg) {
        padding: px2Rem(60) px2Rem(19) px2Rem(28);
    }
    &__container {
        max-width: px2Rem(800);
        margin: 0 auto;
    }

    &__title {
        margin-top: vw(44);
        margin-bottom: vw(23);
        text-align: center;
        @include mq() {
            margin-top: vwt(52);
            margin-bottom: vwt(40);
        }
        @include mq(lg) {
            margin-top: px2Rem(52);
            margin-bottom: px2Rem(40);
        }
        &-col1 {
            font-size: vw(18);
            padding-left: vw(6);
            @include mq() {
                font-size: vwt(24);
            }
            @include mq(lg) {
                font-size: px2Rem(24);
            }
        }
        &-col2 {
            font-size: vw(32);
            padding: vw(3) vw(5) 0 vw(5);
            font-weight: 700;
            color: $primary-pink;
            @include mq() {
                font-size: vwt(41);
                padding: vwt(6) vwt(5) 0 vwt(5);
            }
            @include mq(lg) {
                font-size: px2Rem(41);
                padding: px2Rem(6) px2Rem(5) 0 px2Rem(5);
            }
            & span {
                margin-left: vw(8);
                margin-right: vw(8);
                @include mq() {
                    margin-left: vwt(8);
                    margin-right: vwt(8);
                }
                @include mq(lg) {
                    margin-left: px2Rem(8);
                    margin-right: px2Rem(8);
                }
            }
            & img {
                @include mq() {
                    width: vwt(49);
                    &:nth-of-type(1) {
                        margin-right: vwt(10);
                    }
                    &:nth-of-type(2) {
                        margin-left: vwt(6);
                    }
                }
                @include mq(lg) {
                    width: px2Rem(49);
                    &:nth-of-type(1) {
                        margin-right: px2Rem(10);
                    }
                    &:nth-of-type(2) {
                        margin-left: px2Rem(6);
                    }
                }
            }
        }
        &>span {
            display: block;
        }
    }
    &__list {
        padding-left: vw(2);
        @include mq() {
            display: flex;
            justify-content: center;
            gap: vwt(31);
            padding-left: vwt(2);
        }
        @include mq(lg) {
            display: flex;
            justify-content: center;
            gap: px2Rem(31);
            padding-left: px2Rem(2);
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: vw(31);
            @include mq() {
                margin-bottom: vwt(31);
            }
            @include mq(lg) {
                margin-bottom: px2Rem(31);
            }
        }
        &-head {
            font-size: vw(18);
            height: vw(44);
            padding: vw(9) 0;
            background-color: #fdf0f5;
            border-top-left-radius: vw(10);
            border-top-right-radius: vw(10);
            border: 1px solid $primary-pink;
            border-bottom: none;
            text-align: center;
            color: $primary-pink;
            @include mq() {
                font-size: vwt(28);
                width: vwt(350);
                height: vwt(60);
                padding: vwt(10) 0;
                border-top-left-radius: vwt(10);
                border-top-right-radius: vwt(10);
            }
            @include mq(lg) {
                font-size: px2Rem(28);
                width: px2Rem(350);
                height: px2Rem(60);
                padding: px2Rem(10) 0;
                border-top-left-radius: px2Rem(10);
                border-top-right-radius: px2Rem(10);
            }
        }
        &:nth-of-type(1) .other-course__item-body {
            @include mq() {
                padding-top: vwt(10);
            }
            @include mq(lg) {
                padding-top: px2Rem(10);
            }
        }
        &:nth-of-type(2) .other-course__item-head {
            padding: vw(9) vw(4) vw(9) vw(1);
            @include mq() {
                padding: vwt(9) vwt(4) vwt(9) vwt(1);
            }
            @include mq(lg) {
                padding: px2Rem(9) px2Rem(4) px2Rem(9) px2Rem(1);
            }
        }
        &-body {
            padding: vw(16) vw(20) vw(20) vw(19);
            border-bottom-left-radius: vw(10);
            border-bottom-right-radius: vw(10);
            border: 1px solid $primary-pink;
            border-top: none;
            @include mq() {
                padding: vwt(16) vwt(20) vwt(20) vwt(19);
                font-size: vwt(18);
                width: vwt(350);
                border-bottom-left-radius: vwt(10);
                border-bottom-right-radius: vwt(10);
            }
            @include mq(lg) {
                padding: px2Rem(16) px2Rem(20) px2Rem(20) px2Rem(19);
                font-size: px2Rem(18);
                width: px2Rem(350);
                border-bottom-left-radius: px2Rem(10);
                border-bottom-right-radius: px2Rem(10);
            }
            &-text {
                margin-bottom: vw(12);
                @include mq() {
                    margin-bottom: vwt(12);
                }
                @include mq(lg) {
                    margin-bottom: px2Rem(12);
                }
            }
            &-img {
                width: vw(310);
                @include mq() {
                    width: vwt(310);
                }
                @include mq(lg) {
                    width: px2Rem(310);
                }
            }
        }
        &:nth-of-type(2) .other-course__item-body {
            padding-bottom: vw(18);
            @include mq() {
                padding-bottom: vwt(18);
            }
            @include mq(lg) {
                padding-bottom: px2Rem(18);
            }
            &-text {
                margin-bottom: vw(11);
                @include mq() {
                    margin-bottom: vwt(11);
                    font-size: vwt(17);
                }
                @include mq(lg) {
                    margin-bottom: px2Rem(11);
                    font-size: px2Rem(17);
                }
            }
        }
    }
}
// お客様の声
// --------------------------------------
.customer-voice {
    height: vw(335);
    padding: vw(30) 0 vw(10);
    margin-bottom: vw(32);
    background-color: #fdf0f5;
    @include mq() {
        height: vwt(408);
        padding: vwt(40) 0 vwt(10);
        margin-bottom: vwt(61);
    }
    @include mq(lg) {
        height: px2Rem(408);
        padding: px2Rem(40) 0 px2Rem(10);
        margin-bottom: px2Rem(61);
    }

    &__title {
        text-align: center;
        margin-bottom: vw(17);
        @include mq() {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: vwt(35);
        }
        @include mq(lg) {
            display: flex;
            justify-content: center;
            margin-bottom: px2Rem(35);
        }
        & span {
            font-size: vw(31);
            margin-left: vw(20);
            margin-right: vw(19);
            color: $primary-pink;
            font-weight: 700;
            @include mq() {
                display: block;
                font-size: vwt(41);
                margin-left: vwt(23);
                margin-right: vwt(29);
            }
            @include mq(lg) {
                display: block;
                font-size: px2Rem(41);
                margin-left: px2Rem(23);
                margin-right: px2Rem(29);
            }
        }
        & img {
            @include mq() {
                display: block;
                width: vwt(49);
            }
            @include mq(lg) {
                display: block;
                width: px2Rem(49);
            }
        }
    }
    &__slide-list {
        display: flex;
        gap: vw(15);
        @include mq() {
            justify-content: center;
            gap: vwt(15);
        }
        @include mq(lg) {
            justify-content: center;
            gap: px2Rem(15);
        }
    }
    &__slide-head {
        // width: vw(310);
        height: vw(46);
        padding: vw(10) 0;
        font-size: vw(18);
        border-top-left-radius: vw(10);
        border-top-right-radius: vw(10);
        margin: 0 auto;
        text-align: center;
        color: $primary-white;
        border: 1px solid $primary-pink;
        border-bottom: none;
        background-color: $primary-pink;
        @include mq() {
            // width: vwt(310);
            height: vwt(46);
            padding: vwt(10) 0;
            font-size: vwt(18);
            border-top-left-radius: vwt(10);
            border-top-right-radius: vwt(10);
        }
        @include mq(lg) {
            // width: px2Rem(310);
            height: px2Rem(46);
            padding: px2Rem(10) 0;
            font-size: px2Rem(18);
            border-top-left-radius: px2Rem(10);
            border-top-right-radius: px2Rem(10);
        }
    }
    &__slide-body {
        // width: vw(310);
        height: vw(142);
        padding: vw(13) vw(20) vw(8) vw(21);
        border-bottom-left-radius: vw(10);
        border-bottom-right-radius: vw(10);
        margin: 0 auto;
        border: 1px solid $primary-pink;
        border-top: none;
        background-color: $primary-white;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq() {
            // width: vwt(310);
            height: vwt(142);
            padding: vwt(13) vwt(20) vwt(8) vwt(21);
            border-bottom-left-radius: vwt(10);
            border-bottom-right-radius: vwt(10);
        }
        @include mq(lg) {
            // width: px2Rem(310);
            height: px2Rem(142);
            padding: px2Rem(13) px2Rem(20) px2Rem(8) px2Rem(21);
            border-bottom-left-radius: px2Rem(10);
            border-bottom-right-radius: px2Rem(10);
        }
    }
    &__img {
        width: vw(95);
        flex-shrink: 0;
        & img {
            width: vw(80);
            display: block;
            @include mq() {
                width: vwt(80);
            }
            @include mq(lg) {
                width: px2Rem(80);
            }
        }
        @include mq() {
            width: vwt(86);
            height: vwt(113);
        }
        @include mq(lg) {
            width: px2Rem(86);
            height: px2Rem(113);
        }
    }
    &__text {
        @include mq() {
            margin-left: vwt(12);
        }
        @include mq(lg) {
            margin-left: px2Rem(12);
        }
    }
    &__name {
        font-size: vw(16);
        margin-bottom: vw(5);
        color: $primary-pink;
        @include mq() {
            font-size: vwt(16);
            margin-bottom: vwt(5);
        }
        @include mq(lg) {
            font-size: px2Rem(16);
            margin-bottom: px2Rem(5);
        }
    }
    &__comment {
        font-size: vw(14);
        @include mq() {
            font-size: vwt(14);
        }
        @include mq(lg) {
            font-size: px2Rem(14);
        }
    }
}

// swiper
// --------------------------
.swiper {
    padding-left: vw(27);
    padding-right: vw(63);
    @include mq() {
        padding: 0;
    }
}
.swiper-slide {
    width: vw(310) !important;
    margin: 0 !important;
    @include mq() {
        width: vwt(310) !important;
    }
    @include mq(lg) {
        width: px2Rem(310) !important;
    }
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px 20px;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    margin: 0 0 0 15px !important;
    background: $primary-pink !important;
}
.swiper-pagination-bullet:first-child {
    margin: 0 !important;
}
.swiper-pagination {
    position: absolute;
    bottom: -40px !important;
    @include mq() {
        display: none;
    }
    @include mq(lg) {
        display: none;
    }
}
.swiper-container {
    position: relative;
    @include mq() {
        width: vwt(1000);
        padding: 0 vwt(20);
        margin: 0 auto;
    }
}

// フッター
// -----------------------------
.footer {
    height: vw(64);
    padding-top: vw(13);
    margin-top: vw(42);
    text-align: center;
    background-color: $primary-pink;
    @include mq() {
        height: vwt(127);
        padding-top: vwt(28);
        margin-top: vwt(64);
    }
    @include mq(lg) {
        height: px2Rem(127);
        padding-top: px2Rem(28);
        margin-top: px2Rem(64);
    }
    & img {
        display: block;
        width: vw(72);
        margin: 0 auto;
        @include mq() {
            width: vwt(144);
        }
        @include mq(lg) {
            width: px2Rem(144);
        }
    }
}